@media (max-width: 748px) {

  /* Tamaño máximo de toda la página */

  #app,
  body {
    width: 100% !important;
  }

  ._1jJ70 {
    min-width: 393px !important;
  }

  /* Página inicial informativa de whatsapp */

  ._64p9P {
    min-width: 310px !important;
    max-width: 100% !important;
    padding-inline-start: 76px !important;
  }

  ._3SOOk img {
    min-width: 210px !important;
    max-width: 100% !important;
  }

  .ubfBJ {
    margin-inline-start: 96px !important;
  }

  /* Estados */

  .statusList ._8nE1Y {
    margin-inline-start: 30px !important;
  }

  /* left-sidebar */

  ._3RGKj,
  .g0rxnol2.ercejckq.cm280p3y.p357zi0d.gndfcl4n.kcgo1i74.ln8gz9je.e8h85j61.emrlamx0.aiput80m.lyvj5e2u.l9g3jx6n.f6ipylw5 {
    position: absolute !important;
    min-width: 76px !important;
    box-shadow: 0 1px 0px rgba(var(--shadow-rgb), .4) !important;
    transition-duration: 200ms !important;
  }

  #side {
    margin-block-start: 59px !important;
    width: 76px !important;
    min-width: 76px !important;
    transition-duration: 200ms !important;
  }

  /* Barra de desplazamiento de la left-sidebar */

  #pane-side {
    scrollbar-width: none !important;
  }

  ._3RGKj:hover #pane-side {
    scrollbar-width: thin !important;
  }

  /* Elimina el elemento de 'mensajes cifrados' */

  .cm280p3y.p357zi0d.gndfcl4n.ac2vgrno.eg3lofc5.gqi0zhd6.pz0xruzv.nzcjdldu.emrlamx0.swyb62mu.tviruh8d {
    display: none !important;
  }

  /* Ampliar left-sidebar :hover */

  ._3RGKj:hover #side,
  ._3RGKj:hover,
  ._3RGKj:hover .g0rxnol2.ercejckq.cm280p3y.p357zi0d.gndfcl4n.kcgo1i74.ln8gz9je.e8h85j61.emrlamx0.aiput80m.lyvj5e2u.l9g3jx6n.f6ipylw5 {
    min-width: 280px !important;
    transition-duration: 200ms !important;
    box-shadow: 1px 0 0 0 #50505050,
      4px 0 20px 0 var(--app-background),
      50px 0 180px 0 color-mix(in srgb, var(--app-background)60%, transparent) !important;
  }

  /* margen foto de la cuenta */

  .lyvj5e2u {
    padding-inline-start: 18px !important;
  }

  /* Botones del header (left-sidebar) */

  ._604FD {
    margin-inline-start: 20px !important;
  }

  ._604FD div {
    margin-inline: 1px !important;
  }

  .kcgo1i74 {
    justify-content: flex-start !important;
  }

  ._3RGKj:not(:hover) ._604FD div {
    display: none !important;
  }

  /* sección central 'mensajes del chat' */

  #main {
    min-width: 310px !important;
    max-width: 100% !important;
    margin-inline-start: 76px !important;
    /*z-index: 1001 !important;/**/
  }

  /* borde superior */

  .AmmtE {
    box-shadow: 0 1px 0px rgba(var(--shadow-rgb), 1) !important;
  }

  /* Ancho de la sección de configuración */

  ._2Ts6i._3RGKj._318SY {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  /* popup al reenviar un mensaje */

  .s4r5ooj2 {
    min-width: 100% !important;
  }

  /* Cambiar Tema */

  .hblzrxh7 {
    width: 90% !important;
  }

  /* Atajos de teclado */

  .gofbmt1g {
    width: 100% !important;
    overflow: visible !important;
  }

  /* Sidebar derecha sobre sección del chat */
  .three ._1xFRo {
    min-width: 100% !important;
    max-width: 100% !important;
    z-index: 1002 !important;
    border-inline-start: none !important;
  }

  /* Cuadro de buscar... */

  /* ícono */
  ._28iyj {
    top: 5px !important;
    inset-inline-end: 4px !important;
  }

  /* letras */
  ._3sHED {
    inset-inline-start: 30px !important;
    direction: ltr !important;
  }

  /* cuadro clicleable */
  ._2vDPL {
    direction: ltr !important;
    margin-inline-end: 6px !important;
    padding-inline-start: 0px !important;
  }

  #side .selectable-text.copyable-text.iq0m558w.g0rxnol2 {
    padding-inline-start: 31px !important;
  }

  /* Iconos de 'filtrar mensajes no leídos y 'cuadro de busqueda' en reversa */

  ._3wQ5i {
    direction: rtl !important;
  }

  .fooq7fky {
    margin-inline-end: -8px !important;
  }
}