@media (max-width: 748px) {

  /* Tamaño máximo de toda la página */

  #app,
  body {
    width: 100% !important;
  }

  ._aigs {
    min-width: 393px !important;
  }

  /* Quita espacio innecesario de la barra de dessplazamiento general */

  #whatsapp-web {
    scrollbar-width: none !important; 
  }

  /* Página inicial informativa de whatsapp */

  ._aigv._aigz {
    min-width: 310px !important;
    max-width: 100% !important;
    margin-inline-start: 76px !important; 
  }

  ._al_n img {
    min-width: 210px !important;
    max-width: 100% !important;
  }

  ._al_x {
    margin-inline-start: 20px !important;
  }

  /* Estados */

  .statusList ._ak8l {
    margin-inline-start: 30px !important;
  }

  /* left-sidebar */

  ._aigv._aigw,
  ._aigv._aigw>header {
    position: absolute !important;
    min-width: 76px !important;
    box-shadow: 0 1px 0px rgba(var(--shadow-rgb), .4) !important;
    transition-duration: 200ms !important;
  }

  #side {
    margin-block-start: 59px !important;
    width: 76px !important;
    min-width: 76px !important;
    transition-duration: 200ms !important;
  }

  /* Barra de desplazamiento de la left-sidebar */

  #pane-side {
    scrollbar-width: none !important;
  }

  ._aigv._aigw:hover #pane-side {
    scrollbar-width: thin !important;
  }

  /* Elimina el elemento de 'mensajes cifrados' */

  .x9f619.x78zum5.x6s0dn4.xl56j7k.xcxhlts.xktsk01.x1fqp7bg.x1d52u69.x889kno.x1e0juf7.xzwifym {
    display: none !important;
  }

  /* Ampliar left-sidebar :hover */

  ._aigv._aigw:hover #side,
  ._aigv._aigw:hover,
  ._aigv._aigw:hover > header {
    min-width: 280px !important;
    transition-duration: 200ms !important;
    box-shadow: 1px 0 0 0 #50505050,
      4px 0 20px 0 var(--app-background),
      50px 0 180px 0 color-mix(in srgb, var(--app-background)60%, transparent) !important;
  }

  /* margen foto de la cuenta */

  ._ak0w {
    padding-inline-start: 2px !important;
  }

  /* Botones del header (left-sidebar) */

  ._ak0z{
    margin-inline-start: 36px !important;
  }

  ._ajv1{
    margin-inline: 1px !important;
  }

  .x13a6bvl {
    justify-content: flex-start !important;
  }

  ._aigv._aigw:not(:hover) ._ajv1{
    display: none !important;
  }

  /* sección central 'mensajes del chat' */

  #main {
    min-width: 310px !important;
    max-width: 100% !important;
  }

  /* borde superior */

  ._amid {
    box-shadow: 0 1px 0px rgba(var(--shadow-rgb), 1) !important;
  }

  /* Ancho de la sección de configuración */

  ._aigv._aigw._aigx {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  /* popup al reenviar un mensaje */

  .x9f619.x78zum5.xdt5ytf.x6s0dn4.xl56j7k.xh8yej3.xpb48g7.x1jn0hjm.x1us19tq {
    min-width: 100% !important;
  }

  /* Cambiar Tema */

  .xvue9z {
    width: 90% !important;
  }

  /* Atajos de teclado */

  .gofbmt1g {
    width: 100% !important;
    overflow: visible !important;
  }

  /* Sidebar derecha sobre sección del chat */
  .three ._aig- {
    min-width: 100% !important;
    max-width: 100% !important;
    z-index: 1002 !important;
    border-inline-start: none !important;
  }

  /* Cuadro de buscar... */

  /* ícono */
  ._ai0b._ai08 {
    top: 5px !important;
    inset-inline-end: 4px !important;
  }

  /* letras */
  ._ah_- {
    inset-inline-start: 30px !important;
    direction: ltr !important;
  }

  /* cuadro clicleable */
  ._ai05 {
    direction: ltr !important;
    margin-inline-end: 6px !important;
    padding-inline-start: 0px !important;
  }

  #side .selectable-text.copyable-text.x15bjb6t.x1n2onr6 {
    padding-inline-start: 31px !important;
  }

  /* Iconos de 'filtrar mensajes no leídos y 'cuadro de busqueda' en reversa */

  ._ak9t {
    direction: rtl !important;
  }

  .x1i64zmx {
    margin-inline-end: -8px !important;
  }
}